<div class="container">
  <div class="center-block">
    <h3 class="project-author" ng-show="gitProjectAuthor">
      <a ng-href="https://github.com/{{gitProjectAuthor}}/{{gitProjectTitle}}">{{gitProjectTitle}}</a>
      <small>(by <a ng-href="https://github.com/{{gitProjectAuthor}}">{{gitProjectAuthor}}</a>)</small>
    </h3>
  </div>

  <div class="center-block">
    <contribution-info ng-repeat="logItem in changelog"></contribution-info>
    <p ng-hide="changelog.length" class="none">No items to display</p>
  </div>
</div>
