<div class="well col-sm-12 col-md-8 col-md-offset-2">
  <div class="row user-row">
    <div class="col-md-2">
      <img class="img-circle"
           ng-src="{{logItem.author.avatar_url}}"
           alt="User Pic">
      <div class="marks">
          {{marks.pizza}}
        <span class="emotion-icon emotion-yes"
              ng-click="setMark('pizza')"></span>
        <span class="emotion-icon emotion-no"
              ng-click="setMark('tomato')"></span>
          {{marks.tomato}}
      </div>
    </div>
    <div class="col-md-8">
      <strong ng-bind-html="logItem.body|nl2br"></strong><br>
      <span class="text-muted">{{logItem.author.login}}</span>
    </div>
  </div>
</div>