<div class="container">
  <div class="center-block">

    <h3 ng-show="gitProjectAuthor">
      <a ng-href="https://github.com/{{gitProjectAuthor}}/{{gitProjectTitle}}">{{gitProjectTitle}}</a>
      <small>(by <a ng-href="https://github.com/{{gitProjectAuthor}}">{{gitProjectAuthor}}</a>)</small>
    </h3>
  </div>
  <div class="center-block">
    <div class="username" ng-show="userData.login">Hi, {{userData.login}}! <a href="/unauth">Sign Out</a></div>
    <feature-info ng-repeat="logItem in changelog"></feature-info>
    <p ng-hide="changelog.length" class="none">No items to display</p>
  </div>
</div>
